@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animation-highlight {
  0% {
    left: -100%;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

.btn {
  @apply relative inline-flex min-w-[80px] cursor-pointer select-none flex-nowrap items-center justify-center overflow-hidden whitespace-nowrap rounded-lg border border-black/10 px-7 py-3.5 font-mono text-base font-medium uppercase leading-none tracking-wide transition duration-150 highlight-inner active:scale-[0.96];
}
